@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,400;1,600&family=Noto+Sans+Display:ital,wght@0,400;1,100&family=Open+Sans:ital,wght@1,300;1,400;1,500&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,400;1,600&family=Noto+Sans+Display:ital,wght@0,400;1,100&family=Open+Sans:ital,wght@1,300;1,400;1,500&family=Playfair+Display:wght@700&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
/* html, body{
    margin: 0px;
    padding: 0px;
    border: 0;
    background-color: rgba(220, 233, 233, 0.096);
} */
/* body{
    /* position: absolute; */
    /* height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0;
    background-color: aqua;
}


.form-data{
    position: absolute;
    top:2%;
    height: 100%;
    width: 100%;
}

.name-input{
    position:absolute;
    left:0.5%;
    padding: 0.200rem 0.75rem;
    height: 30px;
    width: 250px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.name-input:focus{
    outline-width: 4px;
    outline-color:rgb(28, 129, 245) ;
    border: 1px solid rgb(9, 152, 235) ; 
    border-radius: 0.25rem;
}
.name-input::placeholder{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 500;
}


.creatable{
    position: absolute;
    height: 30px;
    width: 265px;
    right:0%;
    
}




.textarea::placeholder{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
}
.textarea-keys::placeholder{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
}
.textarea{
    position: absolute;
    display: block;
    top: 10%;
    width: 648px;
    height: 80%;
    resize: none;
    padding: 0.200rem 0.75rem;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: 500;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 
.textarea:focus{
    outline: none;
}


.textarea-keys{
    position: absolute;
    display: block;
    top: 10%;
    right: 0%;
    width: 242px;
    height: 80%;
    resize: none;
    padding: 0.200rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.textarea-keys:focus{
    outline: none;
}

.save-btn{
    position: absolute;
    bottom: 50px;
    right: 140px;
    width: 100px;
    height: 30px;
    background-color: rgba(230, 240, 222, 0.301);
    border: 1.5px solid rgb(153, 165, 153);
    border-radius: 0.25rem;
    padding:0px 2px  0px 2px;
    font-family:'Merriweather Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.cancel-btn{
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 100px;
    height: 30px;
    background-color: rgba(252, 239, 229, 0.493);
    border: 1px solid rgb(212, 226, 212);
    border-radius: 0.25rem;
    padding:0px 2px  0px 2px;
    font-family:'Merriweather Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
} */ 



/* .textarea-keys
    .textarea
    .creatable
    .name-input
*/
@media only screen and (max-width: 425px){
   html{
       height: 100vh;
       width: 100vw;
       margin: 0;
       padding: 0;
       border: 0;
   }
   body{
       /* background-color: green; */
       box-sizing: border-box;
       /* border: 2px solid rgb(238, 232, 232); */
       /* background-image: url('../PUBLIC/bg.svg'); */
       /* background-size:cover;
       overflow-y: auto;
       background-repeat: repeat; */
       /* background-color: #f58383; */
       background-image: linear-gradient(175deg, #d2ebeb 60%, #f7f7f4 90%) !important ;
       max-height: 100vh;
       max-width: 100vw;
       height: 100vh;
       width: 100vw;
       padding: 0;
       margin: 0;
    
    }
    
    .form-data{
       position: relative;
       /* display: flex;
       flex-direction: row;  */
       /* top:2%; */
       box-sizing: border-box;
       height: 100vh;
       width: 100vw;
   }
    .textarea{
       position: absolute;
       top:10%;
       min-width: 230px;
       min-height: 400px;
       overflow-y: auto;
       left:10%;
       resize: none;
       padding: 0.200rem 0.75rem;
       font-family: 'Playfair Display', serif;
       font-size: 18px;
       font-weight: 500;
       color: #212529;
       background-color: rgb(243, 235, 234);
       border: 1px solid #ced4da;
       border-radius: 0.25rem;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .textarea:focus{
       outline: none;
   }
    .textarea-keys{
      display: none;
       /* position: absolute;
       width: 25%;
       right: 10%;
       top:7%;
       height: 90vh;
       resize: none;
       padding: 0.200rem 0.75rem;
       font-family: 'Playfair Display', serif;
       font-size: 1rem;
       font-weight: 400;
       line-height: 1.5;
       color: #212529;
       background-color: rgb(245, 230, 228);
       border: 1px solid #ced4da;
       border-radius: 0.25rem;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    }
    /* .textarea-keys:focus{
       outline: none;
   } */
    .name-input{
       top:5px;
       position: relative;
       width: 110px;
       height: 35px !important;
       left: 10%;
       color: #212529;
       background-color: #fff;
       border: 1px solid #ced4da;
       border-radius: 0.25rem;
       padding: 1px;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .name-input:focus{
       outline: 0;
       border-radius: 0.25rem;
   }
    .name-input::placeholder{
       font-family: 'Playfair Display', serif;
       font-size: 14px;
       font-weight: 500;
    }
    .creatable{
       top:5px;
       position: absolute !important;
       width: 110px;
       right: 10%;
       padding: 0;
       border-radius: 0.25rem;
       box-sizing: border-box;
    }
    .creatable::placeholder{

       font-family: 'Playfair Display', serif;
       font-size: 10px;
    }
   
    .save-btn{
       position: absolute;
       bottom: 10vh;
       right:6%;
       height: 60px;
       width: 55px;
       padding: 2px;
       outline: none;
       border: 0;
       background-color: inherit;
       cursor: pointer;
       align-items: center;
    }
    .save-btn:hover{
       border: 2px solid wheat;
    }
    .saveImg{
       height:40px;
    }
    .cancelImg{
       height: 43px;
    }
    .cancel-btn{
       position: absolute;
       bottom: 10vh;
       left: 7%;
       height: 60px;
       width: 47px;
       padding: 2px;
       outline: none;
       border: 0;
       background-color: inherit;
       cursor: pointer;
   }
   .cancel-btn:hover{
       border: 2px solid wheat;
    }
}

@media only screen and (max-width: 1280px){
   html{
       height: 100vh;
       width: 100vw;
       margin: 0;
       padding: 0;
       border: 0;  
   }
   body{
       /* background-color: green; */
       box-sizing: border-box;
       /* border: 2px solid rgb(238, 232, 232); */
       /* background-image: url('../PUBLIC/bg.svg'); */
       /* background-size: cover;
       background-repeat: no-repeat; */
       /* background-color: #f58383; */
       background-image: linear-gradient(175deg, #d2ebeb 60%, #f7f7f4 90%) !important ;
       max-height: 100vh;
       max-width: 100vw;
       height: 100vh;
       width: 100vw;
       padding: 0;
       margin: 0;
      }
    
    .form-data{
       position: relative;
       display: flex;
       flex-direction: column;
       /* top:2%; */
       box-sizing: border-box;
       height: 100vh;
       width: 100vw;
   }
    .textarea{
       position: absolute;
       top:7%;
       width: 52%;
       height: 80vh;
       left:10%;
       resize: none;
       padding: 0.200rem 0.75rem;
       font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
       font-size: 15px;
       font-weight: 500;
       font-style: italic;
       color: #212529;
       background-image: linear-gradient(white 70%, #eeeed6 100%) !important;
       border: 1px solid #ced4da;
       border-radius: 0.25rem;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .textarea:focus{
       outline: none;
   }
    .textarea-keys{
       
       
       position: absolute;
       width: 24%;
       right: 10%;
       top:7%;
       height: 80vh;
       resize: none;
       padding: 0.200rem 0.75rem;
       font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
       font-size:15px;
       font-weight: 500;
       line-height: 1.5;
       font-style: italic;
       color: #212529;
       background-image: linear-gradient(white 70%, #eeeed6 100%) !important;
       border: 1px solid #ced4da;
       border-radius: 0.25rem;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .textarea-keys:focus{
       outline: none;
   }
    .name-input{
       position: relative;
       top:1%;
       width: 22%;
       height: 35px ;
       left: 10%;
       color: #212529;
       background-color: #fff;
       border: 1px solid #ced4da;
       border-radius: 0.25rem;
       padding: 1px;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .name-input:focus{
       outline: 0;
       border-radius: 0.25rem;
   }
    .name-input::placeholder{
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
       font-size: 15px;
       font-weight: 500;
    }
    .creatable{
      top:1%;
       position: absolute !important;
       width: 22%;
       right: 10%;
       padding: 0;
       border-radius: 0.25rem;
       box-sizing: border-box;
    }
    .creatable::placeholder{

      font-family: 'Roboto', sans-serif;
       font-size: 1px;
    }
   
    .save-btn{
       position: absolute;
       bottom: 8vh;
       right: 10%;
       height: 30px;
       width: 60px;
       padding: 2px;
       outline: none;
       border: 0;
       border-radius: 4px;
       color: rgb(27, 27, 27);
       font-family: 'Roboto', sans-serif;
       font-size: 12px;
       font-weight: 700;
       background-image: linear-gradient(to right,rgb(236, 228, 188) 80%, #b4b4aa 100%) !important;
       cursor: pointer;
       align-items: center;
    }
    .save-btn:hover{
       border: 2px solid wheat;
    }
    .saveImg{
       height: 45px;
    }
    /* .cancelImg{
       height: 46px;
    } */
    .cancel-btn{
       position: absolute;
       bottom:8vh;
       left: 10%;
       height: 30px;
       width: 60px;
       padding: 2px;
       outline: none;
       border: 0;
       border-radius: 4px;
       color: rgb(27, 27, 27);
       font-family: 'Roboto', sans-serif;
       font-size: 12px;
       font-weight: 700;
       background-image: linear-gradient(to right,rgb(236, 228, 188) 10%, #b4b4aa 100%) !important;
       cursor: pointer;
   }
   .cancel-btn:hover{
       border: 2px solid wheat;
    }
} 



@media only screen and (min-width: 1281px){
   html{
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      border: 0;  
  }
  body{
      /* background-color: green; */
      box-sizing: border-box;
      /* border: 2px solid rgb(238, 232, 232); */
      /* background-image: url('../PUBLIC/bg.svg'); */
      /* background-size: cover;
      background-repeat: no-repeat; */
      /* background-color: #f58383; */
      background-image: linear-gradient(175deg, #d2ebeb 60%, #f7f7f4 90%) !important ;
      max-height: 100vh;
      max-width: 100vw;
      height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
     }
   
   .form-data{
      position: relative;
      display: flex;
      flex-direction: column;
      /* top:2%; */
      box-sizing: border-box;
      height: 100vh;
      width: 100vw;
  }
   .textarea{
      position: absolute;
      top:7%;
      width: 52%;
      height: 80vh;
      left:10%;
      resize: none;
      padding: 0.200rem 0.75rem;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 500;
      font-style: italic;
      color: #212529;
      background-image: linear-gradient(rgb(255, 255, 255) 70%, #eeeee8 100%) ;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .textarea:focus{
      outline: none;
  }
   .textarea-keys{
      
      
      position: absolute;
      width: 24%;
      right: 12%;
      top:7%;
      height: 80vh;
      resize: none;
      padding: 0.200rem 0.75rem;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size:15px;
      font-weight: 500;
      line-height: 1.5;
      font-style: italic;
      color: #212529;
      background-image: linear-gradient(rgb(255, 255, 255) 70%, #eeeee8 100%) ;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .textarea-keys:focus{
      outline: none;
  }
   .name-input{
      position: relative;
      top:1%;
      width: 22%;
      height: 35px ;
      left: 10%;
      color: #212529;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 1px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .name-input:focus{
      outline: 0;
      border-radius: 0.25rem;
  }
   .name-input::placeholder{
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 500;
   }
   .creatable{
     top:1%;
      position: absolute !important;
      width: 22%;
      right: 10%;
      padding: 0;
      border-radius: 0.25rem;
      box-sizing: border-box;
   }
   .creatable::placeholder{

     font-family: 'Roboto', sans-serif;
      font-size: 1px;
   }
  
   .save-btn{
      position: absolute;
      bottom: 8vh;
      right: 12%;
      height: 30px;
      width: 60px;
      padding: 2px;
      outline: none;
      border: 0;
      border-radius: 4px;
      color: rgb(27, 27, 27);
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 700;
      background-image: linear-gradient(to right,rgb(236, 228, 188) 80%, #b4b4aa 100%) !important;
      cursor: pointer;
      align-items: center;
   }
   .save-btn:hover{
      border: 2px solid wheat;
   }
   .saveImg{
      height: 45px;
   }
   /* .cancelImg{
      height: 46px;
   } */
   .cancel-btn{
      position: absolute;
      bottom:8vh;
      left: 10%;
      height: 30px;
      width: 60px;
      padding: 2px;
      outline: none;
      border: 0;
      border-radius: 4px;
      color: rgb(27, 27, 27);
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 700;
      background-image: linear-gradient(to right,rgb(236, 228, 188) 10%, #b4b4aa 100%) !important;
      cursor: pointer;
  }
  .cancel-btn:hover{
      border: 2px solid wheat;
   }
}


@media (min-width:1025px) and (max-width: 1280px){
   html{
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      border: 0;  
  }
  body{
      /* background-color: green; */
      box-sizing: border-box;
      /* border: 2px solid rgb(238, 232, 232); */
      /* background-image: url('../PUBLIC/bg.svg'); */
      /* background-size: cover;
      background-repeat: no-repeat; */
      /* background-color: #f58383; */
      background-image: linear-gradient(175deg, #d2ebeb 60%, #f7f7f4 90%) !important ;
      max-height: 100vh;
      max-width: 100vw;
      height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
     }
   
   .form-data{
      position: relative;
      display: flex;
      flex-direction: column;
      /* top:2%; */
      box-sizing: border-box;
      height: 100vh;
      width: 100vw;
  }
   .textarea{
      position: absolute;
      top:7%;
      width: 52%;
      height: 80vh;
      left:10%;
      resize: none;
      padding: 0.200rem 0.75rem;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 500;
      font-style: italic;
      color: #212529;
      background-image: linear-gradient(white 70%, #eeeed6 100%) !important;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .textarea:focus{
      outline: none;
  }
   .textarea-keys{
      
      
      position: absolute;
      width: 24%;
      right: 10%;
      top:7%;
      height: 80vh;
      resize: none;
      padding: 0.200rem 0.75rem;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size:15px;
      font-weight: 500;
      line-height: 1.5;
      font-style: italic;
      color: #212529;
      background-image: linear-gradient(white 70%, #eeeed6 100%) !important;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .textarea-keys:focus{
      outline: none;
  }
   .name-input{
      position: relative;
      top:1%;
      width: 22%;
      height: 35px ;
      left: 10%;
      color: #212529;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 1px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .name-input:focus{
      outline: 0;
      border-radius: 0.25rem;
  }
   .name-input::placeholder{
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 500;
   }
   .creatable{
     top:1%;
      position: absolute !important;
      width: 22%;
      right: 10%;
      padding: 0;
      border-radius: 0.25rem;
      box-sizing: border-box;
   }
   .creatable::placeholder{

     font-family: 'Roboto', sans-serif;
      font-size: 1px;
   }
  
   .save-btn{
      position: absolute;
      bottom: 8vh;
      right: 10%;
      height: 30px;
      width: 60px;
      padding: 2px;
      outline: none;
      border: 0;
      border-radius: 4px;
      color: rgb(27, 27, 27);
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 700;
      background-image: linear-gradient(to right,rgb(236, 228, 188) 80%, #b4b4aa 100%) !important;
      cursor: pointer;
      align-items: center;
   }
   .save-btn:hover{
      border: 2px solid wheat;
   }
   .saveImg{
      height: 45px;
   }
   /* .cancelImg{
      height: 46px;
   } */
   .cancel-btn{
      position: absolute;
      bottom:8vh;
      left: 10%;
      height: 30px;
      width: 60px;
      padding: 2px;
      outline: none;
      border: 0;
      border-radius: 4px;
      color: rgb(27, 27, 27);
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 700;
      background-image: linear-gradient(to right,rgb(236, 228, 188) 10%, #b4b4aa 100%) !important;
      cursor: pointer;
  }
  .cancel-btn:hover{
      border: 2px solid wheat;
   }
} 

