@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;1,100&family=Open+Sans:ital,wght@1,300;1,400;1,500&family=Roboto+Slab:wght@500&display=swap');

@media only screen and (max-width: 1281px){
    html{
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    body{
     
        box-sizing: border-box;
        /* border: 2px solid rgb(238, 232, 232); */
        /* background-image: url('../PUBLIC/bg.svg');
        background-size: cover;
        background-repeat: no-repeat; */
        background-color: #fceeee !important;
        background-image: url('../PUBLIC/mainwall2.png') !important;
        background-size: cover;
        background-repeat: no-repeat;
         max-height: 100vh;
        max-width: 100vw;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;  
     
     } 
    .div-main{
        position: relative;
        width: 100%;
        height: 70px;
        background-color:  rgba(17, 17, 15, 0.007);
        box-sizing: border-box;
    }
    .container{
        position: absolute;
        top:20%;
        right:1%;
        width:10%;
        height:30%;
        
    }
    
    .Search{
        position:absolute;
        top:10%;
        width: 25%;
        padding: 0.375rem 0.75rem;
        font-family: 'Noto Sans Display', sans-serif;
        line-height: 2;
        font-weight: 500;
        color: #000000;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        left:1%;
    }
    
    .Search:focus{
        outline: 1px solid #2578cc;
        
    }
    .tag-search{
            position:absolute;
            top:10%;
            width: 24%;
            font-family: 'Noto Sans Display', sans-serif;
            line-height: 2;
            font-size: 13.5px;
            color: #000000;
            background-color: #fff;
            border: 1px solid #edeef0;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            left:30%;
            box-shadow: none;
        
    }
    
    .tag-search:focus-visible{
        outline: none;
        border:transparent;
        
    }
    .list{
        left:1%;
        background-color: white;
        width: 25%;
        height:auto;
        position: absolute;
        top:65%;
        box-sizing: border-box;
        border-radius: 0.5rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
        
        
    }
    
    .btn_list{
        
        list-style: none;
        border: none;
        border-radius: 0.5rem;
        background-color: inherit;
        text-align: center;
        width:auto;
        padding: 15px;
    }
    .btn_list:hover{
        background-color: rgb(168, 196, 219);
    }
    
    
    .userdetails{
        top:95%;
        position:absolute;
        padding: 10px;
        width:150px;
        height:300px;
        right:8%;
        background-color:rgb(201, 192, 209);
        border: 1px solid rgb(179, 172, 172);
        border-radius: 0.5rem;
        z-index: 1;
    }
    
    .userbutton{
        position:absolute;
        display: block;
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        top:20%;
        right:4%;
        outline: none; 
    }
    .userbutton:focus{
        outline: none;
    }
    
    .plusbtn{
        
        
        width:20px;
        height: 20px;
    }
    
    .plusbutton{
        position: absolute;
        top:26%;
        left:85%;
        overflow: none;
        background-color: inherit;
        border: none;
        cursor: pointer;
        appearance: none;
        outline: none;
        
    }
    .plusbutton:focus{
        outline: none;
    }
    .downarrow{
        width:20px;
        height: 20px;
        
    }
    
    .userdetails.hidden{
        display: block;
    }
    
    .hrline{
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10px;
        border: 0;
        box-shadow: 0 8px 10px -10px #8c8b8b inset;
    }
}
@media (min-width:1025px) and (max-width: 1280px){
    html{
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    body{
     
        box-sizing: border-box;
        /* border: 2px solid rgb(238, 232, 232); */
        /* background-image: url('../PUBLIC/bg.svg');
        background-size: cover;
        background-repeat: no-repeat; */
        background-color: #fceeee !important;
        background-image: url('../PUBLIC/mainwall2.png') !important;
        background-size: cover;
        background-repeat: no-repeat;
         max-height: 100vh;
        max-width: 100vw;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;  
     
     } 
    .div-main{
        position: relative;
        width: 100%;
        height: 70px;
        background-color:  rgba(17, 17, 15, 0.007);
        box-sizing: border-box;
    }
    .container{
        position: absolute;
        top:20%;
        right:1%;
        width:10%;
        height:30%;
        
    }
    
    .Search{
        position:absolute;
        top:10%;
        width: 25%;
        padding: 0.375rem 0.75rem;
        font-family: 'Noto Sans Display', sans-serif;
        line-height: 2;
        font-weight: 500;
        color: #000000;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        left:1%;
    }
    
    .Search:focus{
        outline: 1px solid #2578cc;
        
    }
    .tag-search{
            position:absolute;
            top:10%;
            width: 24%;
            font-family: 'Noto Sans Display', sans-serif;
            line-height: 2;
            font-size: 13.5px;
            color: #000000;
            background-color: #fff;
            border: 1px solid #edeef0;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            left:30%;
            box-shadow: none;
        
    }
    
    .tag-search:focus-visible{
        outline: none;
        border:transparent;
        
    }
    .list{
        left:1%;
        background-color: white;
        width: 25%;
        height:auto;
        position: absolute;
        top:65%;
        box-sizing: border-box;
        border-radius: 0.5rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
        
        
    }
    
    .btn_list{
        
        list-style: none;
        border: none;
        border-radius: 0.5rem;
        background-color: inherit;
        text-align: center;
        width:auto;
        padding: 15px;
    }
    .btn_list:hover{
        background-color: rgb(168, 196, 219);
    }
    
    
    .userdetails{
        top:95%;
        position:absolute;
        padding: 10px;
        width:150px;
        height:300px;
        right:8%;
        background-color:rgb(201, 192, 209);
        border: 1px solid rgb(179, 172, 172);
        border-radius: 0.5rem;
        z-index: 1;
    }
    
    .userbutton{
        position:absolute;
        display: block;
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        top:20%;
        right:4%;
        outline: none; 
    }
    .userbutton:focus{
        outline: none;
    }
    
    .plusbtn{
        
        
        width:20px;
        height: 20px;
    }
    
    .plusbutton{
        position: absolute;
        top:26%;
        left:85%;
        overflow: none;
        background-color: inherit;
        border: none;
        cursor: pointer;
        appearance: none;
        outline: none;
        
    }
    .plusbutton:focus{
        outline: none;
    }
    .downarrow{
        width:20px;
        height: 20px;
        
    }
    
    .userdetails.hidden{
        display: block;
    }
    
    .hrline{
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10px;
        border: 0;
        box-shadow: 0 8px 10px -10px #8c8b8b inset;
    }
}




@media only screen and (min-width: 1281px){
    html{
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    body{
     
        box-sizing: border-box;
        /* border: 2px solid rgb(238, 232, 232); */
        /* background-image: url('../PUBLIC/bg.svg');
        background-size: cover;
        background-repeat: no-repeat; */
        background-color: #fceeee !important;
        background-image: url('../PUBLIC/mainwall2.png') !important;
        background-size: cover;
        background-repeat: no-repeat;
         max-height: 100vh;
        max-width: 100vw;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;  
     
     } 
    .div-main{
        position: relative;
        width: 100%;
        height: 70px;
        background-color:  rgba(17, 17, 15, 0.007);
        box-sizing: border-box;
    }
    .container{
        position: absolute;
        top:20%;
        right:1%;
        width:10%;
        height:30%;
        
    }
    
    .Search{
        position:absolute;
        top:10%;
        width: 25%;
        padding: 0.375rem 0.75rem;
        font-family: 'Noto Sans Display', sans-serif;
        line-height: 2;
        font-weight: 500;
        color: #000000;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        left:1%;
    }
    
    .Search:focus{
        outline: 1px solid #2578cc;
        
    }
    .tag-search{
            position:absolute;
            top:10%;
            width: 24%;
            font-family: 'Noto Sans Display', sans-serif;
            line-height: 2;
            font-size: 13.5px;
            color: #000000;
            background-color: #fff;
            border: 1px solid #edeef0;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            left:30%;
            box-shadow: none;
        
    }
    
    .tag-search:focus-visible{
        outline: none;
        border:transparent;
        
    }
    .list{
        left:1%;
        background-color: white;
        width: 25%;
        height:auto;
        position: absolute;
        top:65%;
        box-sizing: border-box;
        border-radius: 0.5rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
        
        
    }
    
    .btn_list{
        
        list-style: none;
        border: none;
        border-radius: 0.5rem;
        background-color: inherit;
        text-align: center;
        width:auto;
        padding: 15px;
    }
    .btn_list:hover{
        background-color: rgb(168, 196, 219);
    }
    
    
    .userdetails{
        top:95%;
        position:absolute;
        padding: 10px;
        width:150px;
        height:300px;
        right:8%;
        background-color:rgb(201, 192, 209);
        border: 1px solid rgb(179, 172, 172);
        border-radius: 0.5rem;
        z-index: 1;
    }
    
    .userbutton{
        position:absolute;
        display: block;
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        top:20%;
        right:4%;
        outline: none; 
    }
    .userbutton:focus{
        outline: none;
    }
    
    .plusbtn{
        
        
        width:20px;
        height: 20px;
    }
    
    .plusbutton{
        position: absolute;
        top:26%;
        left:85%;
        overflow: none;
        background-color: inherit;
        border: none;
        cursor: pointer;
        appearance: none;
        outline: none;
        
    }
    .plusbutton:focus{
        outline: none;
    }
    .downarrow{
        width:20px;
        height: 20px;
        
    }
    
    .userdetails.hidden{
        display: block;
    }
    
    .hrline{
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10px;
        border: 0;
        box-shadow: 0 8px 10px -10px #8c8b8b inset;
    }
}