.welcome{
   
}
.sigin-section{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;

    
}
.root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100vh;
    height: 100vh;
}
.body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100vh;
}
.signIn{
    position: absolute;
    top:25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:500px;
    background-image: linear-gradient(to right, #ffffff, #e4f0f1c2, #e1eef1c9, #f3dbe600);;
    border: 1px solid rgb(231, 229, 229);
    border-radius: 5px;
}
.signinform{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    gap:15px;
    align-items: right;
    
}

.uname{
    height: 30px;
    width:100%;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 3px;
    padding-left: 10px;
}

.password{
    height: 30px;
    width:100%;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 3px;
    padding-left: 10px;
}


.submit{
    width:100%;
    box-sizing: border-box;
    display: block;
    margin: 0;
    height: 30px;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 3px;
    background-image:linear-gradient(to right, #a5dff7f6, #d1eff1c2, #d0edf3c9, #a5dff7f6);
}

.newacnt{
    display:flex;
    padding:0;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.btn-create{
    border: 2px solid rgba(95, 123, 134, 0.747);
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}