.welcome{
   
}
.sigup-section{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;

    
}
.root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100vh;
    height: 100vh;
}
.body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100vh;
}
.signUp{
    position: absolute;
    top:25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:60%;
    background-image: linear-gradient(to right, #ffffff, #e4f0f1c2, #e1eef1c9, #f3dbe600);;
    border: 1px solid rgb(231, 229, 229);
    border-radius: 5px;
}
.signupform{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    gap:15px;
    align-items: right;
    
}
.a-sign{
    color:#045577f6;
}
.uname{
    height: 30px;
    width:100%;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 3px;
    padding-left: 10px;
}

.password{
    height: 30px;
    width:100%;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 3px;
    padding-left: 10px;
}

.confirm-pass{
    height: 30px;
    width:100%;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 3px;
    padding-left: 10px;
}

.submit{
    width:100%;
    box-sizing: border-box;
    display: block;
    margin: 0;
    height: 30px;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 3px;
    background-image:linear-gradient(to right, #a5dff7f6, #d1eff1c2, #d0edf3c9, #a5dff7f6);
}